{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bidds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fio</th>
                <th>Mark1</th>
                <th>Mark2</th>
                <th>Mark3</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bidd in bidds %}
            <tr>
                <td><a href="{{ path('blogger_blog_bidd_show', { 'id': bidd.id }) }}">{{ bidd.id }}</a></td>
                <td>{{ bidd.fio }}</td>
                <td>{{ bidd.mark1 }}</td>
                <td>{{ bidd.mark2 }}</td>
                <td>{{ bidd.mark3 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blogger_blog_bidd_show', { 'id': bidd.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blogger_blog_bidd_show', { 'id': bidd.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogger_blog_bidd_new') }}">Create a new bidd</a>
        </li>
    </ul>
{% endblock %}
