{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bidd</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bidd.id }}</td>
            </tr>
            <tr>
                <th>Fio</th>
                <td>{{ bidd.fio }}</td>
            </tr>
            <tr>
                <th>Mark1</th>
                <td>{{ bidd.mark1 }}</td>
            </tr>
            <tr>
                <th>Mark2</th>
                <td>{{ bidd.mark2 }}</td>
            </tr>
            <tr>
                <th>Mark3</th>
                <td>{{ bidd.mark3 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogger_blog_bidd_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blogger_blog_bidd_edit', { 'id': bidd.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
